// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// it's me
@import "reset";
@import "utility/utility";
@import "content/content";
@import "component/component";




body, html, #app{
    height: 100%;
}
body{
    // thanks for https://sozai-good.com/
    background-image: url('media/84397.jpg');
    background-size: cover;
}


#app{
    @include outer-limit;
    position: relative;
    height: 100%;
    // thanks for https://www.beiz.jp/
    background-image: url('media/paper_00108.jpg');
    background-size: cover;
    // box-shadow: 1px 0 7px 4px rgba(10,10,10,.3);
}
