@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap);@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.4
2009-07-27
Author: Richard Clark - http://richclarkdesign.com
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
  list-style-type: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, 游ゴシック, YuGothic, "\30D2\30E9\30AE\30CE\89D2\30B4   ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
}

.menu-button {
  padding: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: wrap;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  list-style: none;
}

@media screen and (min-width: 769px) {
  .menu-button {
    padding: 15px;
  }
}

.menu-button a,
.menu-button button {
  height: 70px;
  width: 70px;
  border-radius: 40%;
  background-color: #73BA80;
  border: none;
  display: block;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 2px 2px 4px 2px rgba(10, 10, 10, 0.3);
}

.menu-button a:hover,
.menu-button button:hover {
  box-shadow: 1px 1px 2px 1px rgba(10, 10, 10, 0.3);
}

.menu-button button:focus {
  outline: none;
}

@media screen and (max-width: 481px) {
  #app-menu.menu-button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  #app-menu.menu-button li {
    margin: 20px 0;
  }

  #app-menu.menu-button.v-enter li,
  #app-menu.menu-button.v-leave-to li {
    -webkit-transform: translateY(-350px);
            transform: translateY(-350px);
  }

  #app-menu.menu-button.v-enter-to li,
  #app-menu.menu-button.v-leave li {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  #app-menu.menu-button.v-enter-active {
    -webkit-transition: 1s;
    transition: 1s;
  }

  #app-menu.menu-button.v-enter-active li:first-child {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }

  #app-menu.menu-button.v-enter-active li:nth-child(2) {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }

  #app-menu.menu-button.v-enter-active li:nth-child(3) {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }

  #app-menu.menu-button.v-enter-active li:last-child {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }

  #app-menu.menu-button.v-leave-active {
    -webkit-transition: 1s;
    transition: 1s;
  }

  #app-menu.menu-button.v-leave-active li:first-child {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  #app-menu.menu-button.v-leave-active li:nth-child(2) {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }

  #app-menu.menu-button.v-leave-active li:nth-child(3) {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }

  #app-menu.menu-button.v-leave-active li:last-child {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
}

main {
  padding: 10px;
  padding-bottom: 0 !important;
  padding-top: 70px;
  box-sizing: border-box;
  height: 100%;
}

@media screen and (min-width: 769px) {
  main {
    padding: 15px;
  }
}

#score {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  height: 100%;
  overflow-y: hidden;
}

#score .notation {
  width: 100%;
  margin: 20px 0;
}

#notation-board {
  position: absolute;
  bottom: calc(-60% + 40px);
  box-sizing: border-box;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
  width: 100%;
  max-width: 600px;
  height: 60%;
  background-image: url(/images/paper_00110.jpg?24a04b8bccecea2b93ed0c3aee2ff067);
  background-size: cover;
  border-radius: 20px 20px 0 0;
  box-sizing: border-box;
  padding: 40px 30px 10px 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#notation-board > div {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: start;
          justify-content: flex-start;
  flex-wrap: nowrap;
  height: 100%;
  overflow-y: scroll;
}

#notation-board > div > div {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 60px 0;
  width: 100%;
  border-bottom: white 2px solid;
}

#notation-board > div > div:last-child {
  border: none;
}

#notation-board p,
#notation-board label,
#notation-board select,
#notation-board h2 {
  font-family: "Caveat", cursive;
  font-size: 30px;
  line-height: 30px;
  color: white;
  text-decoration: none;
  text-align: center;
}

#notation-board p {
  margin-bottom: 10px;
}

#notation-board .clef div {
  width: 100%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
  align-items: center;
}

#notation-board .clef div label,
#notation-board .clef div p {
  margin: 0 10px;
}

#notation-board .clef h2 {
  font-size: 50px;
  margin-bottom: 50px;
}

#notation-board .clef select {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  border: white 1px solid;
  width: 150px;
}

#notation-board .clef select:focus {
  outline: none;
}

#notation-board input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  outline: none;
  height: 14px;
  width: 60%;
  background: #8acdff;
  border-radius: 10px;
  border: solid 3px #dff1ff;
}

#notation-board .audio input {
  margin-top: 20px;
}

#notation-board.closed:hover {
  bottom: calc(-60% + 60px);
}

#notation-board.away {
  bottom: -100%;
}

#notation-board.opend {
  bottom: 0;
}

#about {
  padding: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(247, 210, 146, 0.8);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around;
}

@media screen and (min-width: 769px) {
  #about {
    padding: 15px;
  }
}

#about h2 {
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 30px;
  line-height: 40px;
  color: white;
  text-decoration: none;
}

#about .profile h2 {
  margin-bottom: 20px;
}

#about .profile a {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #1EA1F1;
  padding: 10px;
  text-decoration: none;
  border-radius: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  box-shadow: 2px 2px 4px 2px rgba(10, 10, 10, 0.3);
}

#about .profile a:hover {
  box-shadow: 1px 1px 2px 1px rgba(10, 10, 10, 0.3);
}

#about .profile img,
#about .profile i {
  margin: 0 20px;
}

#about .profile img {
  border-radius: 100%;
  height: 60px;
  width: 60px;
}

#about .profile i {
  font-size: 50px;
  color: white;
}

#about .credits {
  text-align: center;
}

#about .credits li {
  margin-bottom: 10px;
  list-style: none;
}

#about .homebutton {
  height: 70px;
  min-width: 70px;
  border-radius: 40%;
  background-color: #73BA80;
  border: none;
  display: block;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  color: white;
  box-shadow: 2px 2px 4px 2px rgba(10, 10, 10, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#about .homebutton:hover {
  box-shadow: 1px 1px 2px 1px rgba(10, 10, 10, 0.3);
}

#about.v-enter,
#about.v-leave-to {
  opacity: 0;
}

#about.v-enter-to,
#about.v-leave {
  opacity: 1;
}

#about.v-leave-active,
#about.v-enter-active {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#setting {
  background-image: url(/images/paper_00110.jpg?24a04b8bccecea2b93ed0c3aee2ff067);
  background-size: cover;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
}

#setting p,
#setting select,
#setting h2 {
  font-family: "Caveat", cursive;
  font-size: 30px;
  line-height: 30px;
  color: white;
  text-decoration: none;
  text-align: center;
  margin-bottom: 30px;
}

#setting select {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  border: white 1px solid;
  width: 90%;
}

#setting select:focus {
  outline: none;
}

#setting .homebutton {
  height: 70px;
  min-width: 70px;
  border-radius: 40%;
  background-color: #73BA80;
  border: none;
  display: block;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  color: white;
  box-shadow: 2px 2px 4px 2px rgba(10, 10, 10, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#setting .homebutton:hover {
  box-shadow: 1px 1px 2px 1px rgba(10, 10, 10, 0.3);
}

#message-window {
  padding: 10px;
  position: absolute;
  top: 90px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 15;
  border-radius: 20px;
  background-color: #73BA80;
  width: 95%;
  box-sizing: border-box;
  max-width: 500px;
  box-shadow: 2px 2px 4px 2px rgba(10, 10, 10, 0.3);
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  #message-window {
    padding: 15px;
  }
}

#message-window p {
  font-family: "Caveat", cursive;
  font-size: 30px;
  line-height: 30px;
  color: white;
  text-decoration: none;
  text-align: center;
}

#message-window.v-enter,
#message-window.v-leave-to {
  top: 50px;
  opacity: 0;
}

#message-window.v-enter-to,
#message-window.v-leave {
  opacity: 1;
}

#message-window.v-leave-active,
#message-window.v-enter-active {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body,
html,
#app {
  height: 100%;
}

body {
  background-image: url(/images/84397.jpg?ccf67ef3c3eaf2fc37887909be2ed8e0);
  background-size: cover;
}

#app {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  position: relative;
  height: 100%;
  background-image: url(/images/paper_00108.jpg?4fa9529e760decd5fb3bcc5663b1b783);
  background-size: cover;
}
