// フォント設定
body{
    font-family: "Helvetica Neue", Helvetica, Arial, 游ゴシック, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

///////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////
// タイポグラフィ

@mixin header-title{
    font-family: 'DM Mono', monospace;
    font-size: 18px;
    color: $sub-sub-color;
    text-align: center;
    @include desktop{
        font-size: 25px;
    }
}


@mixin main-text($index: 2){
    font-family: 'Noto Sans JP', sans-serif;
    color: $sub-sub-color;
    font-size: 15px;
    @include tablet{
        font-size: 18px;
    }
    @include desktop{
        font-size: 20px;
    }
}


@mixin board-text{
    font-family: 'Caveat', cursive;
    font-size: 30px;
    line-height: 30px;
    color: white;
    text-decoration: none;
}


@mixin nav-text{
    font-family: 'Caveat', cursive;
    font-size: 30px;
    line-height: 40px;
    color: white;
    text-decoration: none;
}
