main{
    @include outer-base;
    padding-bottom: 0 !important;
    padding-top: $top-button-size;
    box-sizing: border-box;
    height: 100%;
}



#score{
    position: relative;
    @include flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    .notation{
        width: 100%;
        margin: 20px 0;
    }
    overflow-y: hidden;
}



#notation-board{
    position: absolute;
    bottom: calc(-60% + 40px);
    box-sizing: border-box;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 100%;
    max-width: 600px;
    height: 60%;
    background-image: url('media/paper_00110.jpg');
    background-size: cover;
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;
    padding: 40px  30px 10px 30px;
    transition: .3s;

    &>div{
        @include flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        height: 100%;
        overflow-y: scroll;
        &>div{
            @include flex;
            flex-direction: column;
            padding: 60px 0;
            width: 100%;
            border-bottom: white 2px solid;
            &:last-child{
                border: none;
            }
        }
    }

    p, label, select, h2{
        @include board-text;
        text-align: center;
    }
    p{margin-bottom: 10px;}

    .clef{
        div{
            width: 100%;
            margin-bottom: 30px;
            @include flex;
            justify-content: center;
            align-items: center;
            label, p{
                margin: 0 10px;
            }
        }
        h2{
            font-size: 50px;
            margin-bottom: 50px;
        }
        select{
            background-color: rgba(0,0,0,0);
            border-radius: 10px;
            border: white 1px solid;
            width: 150px;
            &:focus{
                outline: none;
            }
        }
    }


    input[type="range"]{
        appearance: none;
        cursor: pointer;
        outline: none;
        height: 14px;
        width: 60%;
        background: #8acdff;
        border-radius: 10px;
        border: solid 3px #dff1ff;
    }

    .audio input{
        margin-top: 20px;
    }


    &.closed:hover{
        bottom: calc(-60% + 60px);
    }
    &.away{
        bottom: -100%;
    }
    &.opend{
        bottom: 0;
    }
}






#about{
    @include outer-base;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(247,210,146,0.8);

    @include flex;
    flex-direction: column;
    justify-content: space-around;

    h2{
        text-align: center;
        @include nav-text;
    }

    .profile{
        h2{
            margin-bottom: 20px;
        }
        a{
            @include flex;
            justify-content: space-around;
            background-color: #1EA1F1;
            padding: 10px;
            text-decoration: none;
            border-radius: 40px;
            transition: .3s;
            box-shadow: 2px 2px 4px 2px rgba(10,10,10,.3);
            &:hover{
                box-shadow: 1px 1px 2px 1px rgba(10,10,10,.3);
            }
        }
        img,i{
            margin: 0 20px;
        }
        img{
            border-radius: 100%;
            height: 60px;
            width: 60px;
        }
        i{
            font-size: 50px;
            color: white;
        }
    }

    .credits{
        text-align: center;
        li{
            margin-bottom: 10px;
            list-style: none;
        }
    }

    .homebutton{
        height: $top-button-size;
        min-width: $top-button-size;
        border-radius: 40%;
        background-color: #73BA80;
        border: none;
        display: block;
        text-align: center;
        line-height: $top-button-size;
        font-size: 30px;
        color: white;
        box-shadow: 2px 2px 4px 2px rgba(10,10,10,.3);
        transition: .3s;
        &:hover{
            box-shadow: 1px 1px 2px 1px rgba(10,10,10,.3);
        }
    }

    &.v-enter, &.v-leave-to{
        opacity: 0;
    }
    &.v-enter-to, &.v-leave{
        opacity: 1;
    }
    &.v-leave-active, &.v-enter-active{
        transition: .5s;
    }
}





#setting{
    background-image: url('media/paper_00110.jpg');
    background-size: cover;

    @include flex;
    flex-direction: column;
    justify-content: center;

    p, select, h2{
        @include board-text;
        text-align: center;
        margin-bottom: 30px;
    }
    select{
        background-color: rgba(0,0,0,0);
        border-radius: 10px;
        border: white 1px solid;
        width: 90%;
        &:focus{
            outline: none;
        }
    }
    .homebutton{
        height: $top-button-size;
        min-width: $top-button-size;
        border-radius: 40%;
        background-color: #73BA80;
        border: none;
        display: block;
        text-align: center;
        line-height: $top-button-size;
        font-size: 30px;
        color: white;
        box-shadow: 2px 2px 4px 2px rgba(10,10,10,.3);
        transition: .3s;
        &:hover{
            box-shadow: 1px 1px 2px 1px rgba(10,10,10,.3);
        }
    }
}





#message-window{
    @include outer-base;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 15;
    border-radius: 20px;
    background-color: #73BA80;
    width: 95%;
    box-sizing:border-box;
    max-width: 500px;
    box-shadow: 2px 2px 4px 2px rgba(10,10,10,.3);

    cursor: pointer;

    p{
        @include board-text;
        text-align: center;
    }

    &.v-enter, &.v-leave-to{
        top: 50px;
        opacity: 0;
    }
    &.v-enter-to, &.v-leave{
        opacity: 1;
    }
    &.v-leave-active, &.v-enter-active{
        transition: .5s;
    }
}
